# static example:
# auto ens1
# iface ens1 inet static
#   address 192.0.2.7/24
#   gateway 192.0.2.254

{% for nic in vm.network %}
{% if nic.vm_net == "default" %}

auto enp{{ loop.index }}s0
allow-hotplug enp{{ loop.index }}s0
iface enp{{ loop.index }}s0 inet dhcp

{% else %}

auto enp{{ loop.index }}s0
allow-hotplug enp{{ loop.index }}s0
iface enp{{ loop.index }}s0 inet static
  address {{ nic.ip }}/{{ nic.subnet }}
{% if nic.gw is defined %}
  gateway {{ nic.gw }}
{% endif %}

{% endif %}

{% endfor %}
