Es gibt {{ vms | length }} VMs:
{% for vm in vms %}
{{ vm.name }}   - {{ vm.osinfo }} mit {{ vm.network | length }} Netzwerkkarten und {{ vm.disks | default([]) | length }} zusätzliche Festplatten
{% endfor %}

Steuern der VMs:
vm_check.sh     - Überprüfen ob die VMs erreichbar sind 
vm_manage.sh    - Starten/Stoppen der VM. Beispiel: vm_manage.sh node1 shutdown
vm_reset.sh     - Zurücksetzen einer oder aller VMs. Beispiel: vm_reset.sh node1